/*  SINGLE USE THINGS
================================== */

body { background-color: #353535; }

.header {
    background-image:
        linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(43,196,173,.6) 100%),
        url('../img/photo-1453227588063-bb302b62f50b-bw2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    text-align: center;
}

.top-round { border-radius: 15px 15px 0 0; }
.bottom-round { border-radius: 0 0 15px 15px; }
.both-round { border-radius: 15px; }


#intro {
    max-width: 515px;
    padding: 70px 35px;
}

.svg-about {
    max-width: 150px;
    margin: 0 auto;
}

.svg-responsive {
    max-width: 230px;
    margin: 0 auto;
}

.small-grid-container {
    width: 80%;
    max-width: 800px;
    text-align: left;
    padding: 0 1%;
    margin: 0 auto;
}

.small-box {
    background-color: #fafafa;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
    border-radius: 4px;
    padding: 7px;
}

.result { padding: 10px; }

.outline { border: 1px solid #dedede; }

/* Single use row and col that are exempt from media queries */
.e-row {
    width: 100%;
    padding: 0;
    margin: 2% 0;
}

.e-col {
    float: left;
    width: 100%;
    text-align: left;
    margin: 0 2% 0 0;
}

.e-row:first-of-type { margin-top: 0; }
.e-col:first-child { margin-left: 0; }
.e-col:last-child { margin-right: 0; }

/* Single use grid that is exempt from media queries */
.e-one { width: 8.2%; }
.e-two { width: 18.4%; }
.e-three { width: 28.6%; }
.e-four { width: 38.8%; }
.e-five { width: 49%; }
.e-six { width: 59.2%; }
.e-seven { width: 69.4%; }
.e-eight { width: 79.6%; }
.e-nine { width: 89.8%; }
.e-ten { width: 100%; margin-left: 0; margin-right: 0; }
.e-quarter { width: 23.5%; }
.e-third { width: 32%; }
.e-half { width: 49%; }
.e-two-thirds { width: 66%; }
.e-three-quarters { width: 74.5%; }
.e-full { width: 100%; margin-left: 0; margin-right: 0; }

/* These control your TEXT colors */
body { color: #000; }
.dark { color: #262626; }
.light { color: #fff; }
.primary { color: #2BC4AD; }
.secondary { color: #2B977E; }
.accent { color: #dedede; }

/* These control your BACKGROUND colors */
.bg-superdark { background-color: #262626; }
.bg-dark { background-color: #353535; }
.bg-light { background-color: #fff; }
.bg-primary { background-color: #2BC4AD; }
.bg-secondary { background-color: #2B977E; }
.bg-accent { background-color: #dedede; }

/* These control the fill of your inline SVG images */
.svg-dark { fill: #262626; }
.svg-light { fill: #fff; }
.svg-primary { fill: #2BC4AD; }
.svg-secondary { fill: #2B977E; }
.svg-accent { fill: #dedede; }

@media (min-width: 481px) and (max-width: 768px) {
    #intro { margin: 0 auto; }
    .small-grid-container { width: 90%; }
}

@media (max-width: 480px) {
    #intro {
        color: #fff;
        padding: 15px;
    }
    .small-grid-container { width: 100%; }
    .header { background-position: center bottom; }
    .small-box {
        font-size: .85em;
        padding: 3px;
    }
}

.e-row {
    content: '';
    display: table;
    clear: both;
}