/*  SINGLE USE THINGS
================================== */

body {
    background-color: #353535;
    overflow-x: hidden;
}

.content {
    position: relative;
    top: 0;
    background-color: #353535;
    z-index: 1;
}

.mobile-nav {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100%;
    list-style: none;
    text-align: center;
    padding: 50px 0 0 0;
    margin: 0;
    z-index: 0;
}

.mobile-nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    line-height: 2.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 15px;
}

.nav-toggle {
    visibility: hidden;
    position: fixed;
    clip: rect(0,0,0,0);
}

label[for="nav-toggle"] {
    visibility: hidden;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url('../img/burger.svg');
    background-size: contain;
}

.nav-toggle:checked ~ .content {
    left: 200px;
    box-shadow: -7px 0 15px rgba(0,0,0,.35);
}

.mobile-nav-bar {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 45px;
    background-color: #353535;
}

#navbar {
    position: fixed;
    cursor: default;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1000px;
    height: 40px;
    font-size: .85em;
    text-align: center;
    text-transform: uppercase;
    background-color: #353535;
    margin: 0 auto;
    padding: 0;
    z-index: 10;
}

#navbar ul {
    padding: 0;
    margin: 0 auto;
}

#navbar ul li {
    display: inline-block;
    list-style-type: none;
    line-height: 40px;
    padding: 0;
    margin: 0 10px;
}

#navbar ul li a {
    color: #bbb;
    text-decoration: none;
    padding: 5px 10px;
}

#navbar ul li a:hover {
    color: #84dacb;
}

.header {
    background-image:
        linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(43,196,173,.5) 100%),
        url('../img/photo-1453227588063-bb302b62f50b-bw3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    text-align: center;
}

.top-round { border-radius: 15px 15px 0 0; }
.bottom-round { border-radius: 0 0 15px 15px; }
.both-round { border-radius: 15px; }


#intro {
    max-width: 515px;
    padding: 70px 35px;
}

.github {
    text-decoration: none;
    font-size: .9em;
    color: #fff;
    padding: 5px 10px;
}

.github:hover {
    color: #dedede;
}

.svg-about {
    max-width: 150px;
    margin: 0 auto;
}

.svg-responsive {
    max-width: 230px;
    margin: 0 auto;
}

.small-grid-container {
    width: 80%;
    max-width: 800px;
    text-align: left;
    padding: 0 1%;
    margin: 0 auto;
}

.small-box {
    background-color: #fafafa;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
    border-radius: 4px;
    padding: 7px;
}

.result { padding: 10px; }

.outline { border: 1px solid #555; }

footer {
    width: 100%;
    max-width: 1000px;
    background-color: #262626;
    color: #dedede;
    font-size: .85em;
    margin: 75px auto 0 auto;
    z-index: 50;
}

.svg-footer {
    max-width: 275px;
}

footer a {
    text-decoration: none;
    color: #dedede;
}

footer a:hover {
    color: #84dacb;
}

.divider {
    border-left: 10px solid #353535;
}

/* Single use row and col that are exempt from media queries */
.e-row {
    width: 100%;
    padding: 0;
    margin: 2% 0;
}

.e-col {
    float: left;
    width: 100%;
    text-align: left;
    margin: 0 2% 0 0;
}

.e-row:first-of-type { margin-top: 0; }
.e-col:first-child { margin-left: 0; }
.e-col:last-child { margin-right: 0; }

/* Single use grid that is exempt from media queries */
.e-one { width: 8.2%; }
.e-two { width: 18.4%; }
.e-three { width: 28.6%; }
.e-four { width: 38.8%; }
.e-five { width: 49%; }
.e-six { width: 59.2%; }
.e-seven { width: 69.4%; }
.e-eight { width: 79.6%; }
.e-nine { width: 89.8%; }
.e-ten { width: 100%; margin-left: 0; margin-right: 0; }
.e-quarter { width: 23.5%; }
.e-third { width: 32%; }
.e-half { width: 49%; }
.e-two-thirds { width: 66%; }
.e-three-quarters { width: 74.5%; }
.e-full { width: 100%; margin-left: 0; margin-right: 0; }

/* These control your TEXT colors */
body { color: #000; }
.dark { color: #353535; }
.light { color: #fff; }
.primary { color: #289784; }
.secondary { color: #84dacb; }
.accent { color: #dedede; }

/* These control your BACKGROUND colors */
.bg-dark { background-color: #353535; }
.bg-light { background-color: #fff; }
.bg-primary { background-color: #289784; }
.bg-secondary { background-color: #84dacb; }
.bg-accent { background-color: #dedede; }

@media (min-width: 481px) and (max-width: 768px) {
    #navbar ul li {
        font-size: .95em;
        margin: 0;
    }
    #intro { margin: 0 auto; }
    .small-grid-container { width: 90%; }
    .divider { border: none; }
}

@media (max-width: 480px) {
    .mobile-nav,
    .mobile-nav-bar,
    #nav-toggle,
    label[for="nav-toggle"] { visibility: visible !important; }
    #navbar { display: none !important; }
    #intro {
        color: #fff;
        padding: 15px;
    }
    .small-grid-container { width: 95%; }
    .header { background-position: center bottom; }
    .small-box {
        font-size: .85em;
        padding: 3px;
    }
    .top-round,
    .bottom-round,
    .both-round { border-radius: 0; }
    .divider { border-left: none; }
}

.e-row {
    content: '';
    display: table;
    clear: both;
}